@model ProjectBancoItau.MVC.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do cliente</h2>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idCliente }) |
    @Html.ActionLink("Voltar", "Index")
</p>
