@model IEnumerable<ProjectBancoItau.MVC.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idCliente }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idCliente }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.idCliente })
        </td>
    </tr>
}

</table>
