@model IEnumerable <ProjectBancoItau.MVC.ViewModels.ClienteContaViewModel>

@{
    ViewBag.Title = "ResultBuscaClienteConta";
}


<table class="table" style="margin-top:60px">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NConta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAgencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(model => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(model => item.NConta)
        </td>
        <td>
            @Html.DisplayFor(model => item.NAgencia)
        </td>
        <td>
            @Html.DisplayFor(model => item.Saldo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdConta }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdConta }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdConta })
        </td>
    </tr>
}
</table>
